@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Potwierdzenie zmiany adresu email";
}

<div class="paddingX">
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>