@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potwierdzenie adresu email";
}

<div class="paddingX">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <p>Twój adres email został potwierdzony. &nbsp;<a asp-page="./Login">Kliknij tutaj aby się zalogować</a></p>
</div>