@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Resetowanie hasła";
}

<div class="paddingX">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <p>
        Wysłaliśmy na Twój adres email wiadomość z linkiem do resetowania hasła. Jeśli nie widzisz wiadomości sprawdź folder spam.
    </p>
</div>

