@model int
<div class="row mt-4">
    <div class="col-6">
        <input type="submit" class="redButton form-control" asp-route-id="@Model" value="Usuń" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="grayButton form-control">Powrót</a>
    </div>
</div>