<div class="row mt-4">
    <div class="col-6">
        <input type="submit" class="whiteButton form-control" value="Zapisz" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="grayButton form-control">Powrót</a>
    </div>
</div>
