@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <div>
        <a style="float:left" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            MOJE KONTO
        </a>
    </div>

