@model IEnumerable<Kategoria>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2>Lista kategorii</h2>
    </div>
    <div class="col-6">
        <partial name="_DodajButtonPartial" />
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Brak kategorii...</p>
        }
    </div>
</div>

