
@{
    ViewData["Title"] = "Potwierdzenie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="paddingX">
    <h1>Potwierdzenie</h1>
    <h4>Twoje zamówienie zostało przyjęte. Wszystkie dokumenty wysłaliśmy na podany adres email.</h4>
</div>

