@model WziumStars.Models.ViewModels.PodkategoriaAndKategoriaViewModel
@using WziumStars.Extensions
@{
    ViewData["Title"] = "Edytuj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="paddingX">
    <h1 class="mb-4">Dodaj</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="row">
        <div class="col-8 border-right">
            <form method="post" asp-action="Edytuj">
                <input type="hidden" asp-for="Podkategoria.CategoryId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Podkategoria.CategoryId" class="col-form-label"></label>
                        </div>
                        <div class="col-7">
                            <select disabled id="ddlCategorylist" asp-for="Podkategoria.CategoryId" asp-items="Model.KategoriaList.ToSelectListItem(Model.Podkategoria.CategoryId)" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="Podkategoria.Name" class="col-form-label"></label>
                        </div>
                        <div class="col-7">
                            <input asp-for="Podkategoria.Name" class="form-control" />
                        </div>
                        <span asp-validation-for="Podkategoria.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <div class="col-7 offset-3">
                            <partial name="_EditAndBackButtonPartial" model="Model.Podkategoria.Id" />
                        </div>
                    </div>
            </form>
        </div>
        <div class="col-3 offset-1">
            @if (Model.PodkategoriaList.Count() > 0)
            {
                <p>Obecne podkategorie:</p>

                <div id="SubCategoryList" style="color: #000;">
                    <ul class="list-group"></ul>
                </div>

            }
        </div>
    </div>
</div>
    @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>
            function updateSubCategoryList() {
                var categorySelected = document.getElementById("ddlCategorylist").value;
                $list = $('#SubCategoryList');
                $.ajax({
                    url: '/Admin/Podkategoria/GetSubCategory/' + categorySelected,
                    type: 'GET',
                    dataType: 'text',
                    success: function (data) {
                        results = JSON.parse(data);
                        $list.html('');
                        $list.append(' <ul class="list-group"> ');
                        for (i in results) {
                            $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                        }
                        $list.append('</ul>');
                    }
                });
            }
            $(document).ready(function () {
                updateSubCategoryList();
            });
        </script>
    }

