@model IEnumerable<Podkategoria>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="paddingX">
    <div class="row mb-4">
        <div class="col-6">
            <h1>Lista podkategorii</h1>
        </div>
        <div class="col-6 text-right pt-3">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border grayTable">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Kategoria.Name)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Kategoria.Name)
                        </td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </tr>
                }
            </table>
        }
        else
        {
            <p>Brak podkategorii...</p>
        }
    </div>
</div>

