@model WziumStars.Models.ViewModels.PodkategoriaAndKategoriaViewModel
@foreach(var item in Model.KategoriaList)
{
<li>
    <label for="drop-@item.Id" class="toggle">@item.Name.ToUpper() <i class="fas fa-caret-down"></i></label>
    <a href="#">@item.Name.ToUpper() <i class="fas fa-caret-down"></i></a>
    <input type="checkbox" id="drop-@item.Id" />
    <ul>
        @foreach (var podkategoria in Model.PodkategoriaList.Where(c => c.CategoryId == item.Id))
        {
            <li><a asp-action="Index" asp-controller="Produkt" asp-area="Klient" asp-route-subcategory="@podkategoria.Name">@podkategoria.Name.ToUpper()</a></li>
        }
    </ul>
</li>
}
