@model WziumStars.Models.ViewModels.PodkategoriaAndKategoriaViewModel
@foreach(var item in Model.KategoriaList)
{
<li>
    <label for="drop-1" class="toggle">@item.Name <i class="fas fa-caret-down"></i></label>
    <ul>
        @foreach(var podkategoria in Model.PodkategoriaList.Where(c=>c.CategoryId == item.Id))
        {
            <li><a asp-action="Index" asp-controller="Produkt" asp-area="Klient" asp-route-subcategory="@podkategoria.Name">@podkategoria.Name</a></li>
        }  
    </ul>
</li>
}
